<ng-container *ngIf="(state$ | async) as state">
  <app-user-info></app-user-info>

  <div class="app-padding">
    <app-auth *ngIf="!state.isAuthenticated"></app-auth>

    <app-playlist *ngIf="state.isAuthenticated"></app-playlist>

    <app-error-zone></app-error-zone>
  </div>

</ng-container>
