<ng-container *ngIf="(playlistState$ | async) as playlistState">

  <ng-template [ngIf]="playlistState.hasBeenExported === false">

    <!-- PLAYLIST TITLE -->
    <section>
      <h3>1 - Dai un titolo alla playlist</h3>
      <mat-form-field class="full-width-field">
        <input [formControl]="playlistControl" [value]="playlistState.title" matInput
               placeholder="Titolo della playlist">
      </mat-form-field>
    </section>

    <!-- TRACK SELECTION -->
    <section>
      <h3>2 - Cerca e ordina le canzoni</h3>
      <app-track-autocomplete
        (trackSelected)="addTrack($event)"
      ></app-track-autocomplete>

      <mat-list (cdkDropListDropped)="itemDropped($event)" cdkDropList>
        <mat-list-item
          *ngFor="let track of playlistState.tracks; let i = index"
          [class.draggable]="playlistState.tracks.length > 1" cdkDrag>
          <img [alt]="track.name" [src]="track.album.images[0].url" [title]="track.album.name" matListAvatar>
          <div class="track-info" matLine>
            <h3> {{track.name}} </h3>
            <span> {{track.album.name}} </span>
            <span> -- {{track.artists | artists}} </span>
          </div>
          <mat-icon (click)="removeTrackAtPosition(i)" class="remove-track">clear</mat-icon>
        </mat-list-item>
      </mat-list>
    </section>

    <!-- EXPORT BUTTON -->
    <section>
      <h3>3 - Esporta su Spotify</h3>
      <button
        (click)="exportPlaylist()" [disabled]="!playlistState.canBeExported"
        color="primary"
        mat-flat-button
      >Export
      </button>
    </section>
  </ng-template>

  <!-- EXPORT OK -->
  <ng-template [ngIf]="playlistState.hasBeenExported === true">
    <app-export-ok></app-export-ok>
  </ng-template>

</ng-container>

