h3
  margin-bottom: .3rem

section:last-of-type
  margin-bottom: 0

.draggable
  cursor: move

.remove-track
  cursor: pointer
  color: lightgrey

  &:hover
    color: grey

.cdk-drag-preview
  img.mat-list-avatar
    width: 40px
    height: 40px

.cdk-drag-placeholder
  opacity: 0


