<div class="app-padding">
  <h1>E' necessario effettuare il login su Spotify per iniziare</h1>

  <div class="login-button-container">
    <a [href]="loginUrl" color="primary" mat-flat-button>Login</a>
  </div>
</div>


