<div class="playlist-container">
  <mat-form-field class="full-width-field">
    <input [formControl]="autocompleteControl" [matAutocomplete]="auto" [placeholder]="funnyTrackPlaceholder" matInput>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
      <mat-option *ngFor="let option of options$ | async" [value]="option">
        <span>{{ option.name }}</span> |
        <small><span *ngFor="let artist of option.artists">{{artist.name}}</span></small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
