<ng-container *ngIf="(playlistState$ | async) as playlistState">
  <section>
    <h1 class="mat-accent">
      <mat-icon>done</mat-icon>
      FATTO!
    </h1>

    <p>
      La tua playlist è pronta per essere ascoltata:
      <a [href]="playlistState.exportedPlaylistUrl" target="_blank">Ascoltala subito!</a>
    </p>

  </section>

  <section>
    <button
      (click)="newPlaylist()"
      color="primary"
      mat-flat-button
    >Nuova Playlist
    </button>
  </section>
</ng-container>
