/* You can add global styles to this file, and also import other style files */
html
  background-color: #F5F5F5

section
  margin-bottom: 1rem

.app-container
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

.app-content
  width: 30%
  background-color: #fff
  border-radius: .4rem
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1)
  overflow: hidden

.app-padding
  padding: 2rem

.full-width-field
  width: 100%
