.user
  width: 100%
  height: 8rem
  padding-left: 1.5rem
  background-color: blueviolet
  display: flex
  justify-content: flex-start
  align-items: center

.user-name
  font-size: 2rem
  font-weight: bold
  color: white
  margin: .8rem

.user-image
  border-radius: 50%
  border: 2px solid white
  width: 4rem
  height: 4rem
