<ng-container *ngIf="(userInfo$ | async) as userInfo">
  <div [style.background-url]="" class="user">
    <img *ngIf="userInfo.images[0].url" [alt]="userInfo.displayName" [src]="userInfo.images[0].url" class="user-image"/>
    <span class="user-name">
      {{userInfo.displayName}}
    </span>
  </div>
</ng-container>
